.button {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-small;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.green {
  background: green;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-small;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button:hover {
  background: $blue2;
}

.button a {
  border: none;
  color: white;
  text-decoration: none;
}

.button--link {
  background: none;
}

.button--danger {
  background: $dark-red;
  margin-left: $m-size;
  &:hover {
    background: $red;
  }
}

.button--secondary {
  background: $grey;
  &:hover {
    background: $grey2;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: $bp-sm) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: $bp-md + 1) {
  .button {
    font-size: $font-size-large;
  }
  .green {
    font-size: $font-size-large;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: $bp-ld) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $bp-xl) {
}
