.list-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: $l-size;
  padding: $s-size 0 $s-size 0;
}

.list-item {
  align-items: center;
  background: $off-white;
	border: 1px solid darken($off-white, 7%);
	box-shadow: 2px 2px 5px $grey;
  color: $dark-grey;
  display: flex;
  flex-direction: column;
  height: 280px;
  margin-right: 0;
  margin-bottom: $s-size;
  width: 360px;
  padding: 0;
  position: relative;
	text-decoration: none;
	transition: transform .2s;
	&:hover {
		transform: scale(1.05); 
	}
}

.list-item--message {
  align-items: center;
  color: $grey;
  justify-content: center;
  padding: $m-size;
  &:hover {
    background: none;
  }
}

.list-item__image {
  position: absolute;
  top: 0;
	left: 0;
}

.list-item__image img {
  width: 100%;
  height: 100%;
}

.list-item__content {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  height: 100px;
  left: 0;
  padding: $m-size;
  position: absolute;
  width: 100%;
}

.list-item__heading {
  align-items: left;
  display: flex;
  flex-direction: column;
}

.list-item__title {
  font-size: $font-size-large;
  font-weight: bold;
  margin: 0;
  word-break: break-all;
}

.list-item__subtitle {
  color: $grey;
  font-size: $font-size-small;
}

/* MEDIA QUERIES */

// Small devices (landscape phones, 576px and up)
@media (min-width: $bp-sm) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: $bp-md) {
  .list-item {
    margin-right: $s-size;
    width: 310px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: $bp-ld) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $bp-xl) {
}
