.list-body {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $l-size;
  padding: $s-size 0;
}

.list-item {
  align-items: center;
  border: 1px solid darken($off-white, 7%);
  color: $dark-grey;
  display: flex;
  flex-direction: column;
  height: 360px;
  margin-right: $s-size;
  margin-bottom: $s-size;
  width: 310px;
  padding: 0;
  position: relative;
  text-decoration: none;
  transition: background 0.3s ease;
  &:hover {
    background: $off-white;
  }
}

.list-item:last-child {
  margin-right: 0;
}

.list-item--message {
  align-items: center;
  color: $grey;
  justify-content: center;
  padding: $m-size;
  &:hover {
    background: none;
  }
}

.list-item__image {
  position: absolute;
  top: 0;
  left: 0;
}

.list-item__image img {
  width: 100%;
  height: 100%;
}

.list-item__content {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 8.5px;
  position: absolute;
  width: 100%;
}

.list-item__title {
  margin: 0;
  word-break: break-all;
}

.list-item__subtitle {
  color: $grey;
  font-size: $font-size-small;
}

/* MEDIA QUERIES */
/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .list-body {
    justify-content: center;
  }
  .list-item {
    margin-right: 0;
    width: 360px;
  }
}
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .list-body {
    justify-content: center;
  }
  .list-item {
    width: 360px;
  }
}
/* 
	##Device = Tablets, Ipads (portrait)
	##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .list-body {
    justify-content: space-around;
  }
}
/* 
	##Device = Laptops, Desktops
	##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .list-body {
    justify-content: center;
  }
}
/* 
	##Device = Desktops
	##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  //CSS
}
