.page-header {
  background: $off-white;
  margin-bottom: $l-size;
  padding: $l-size 0;
}

.page-header__content {
  align-items: center;
  display: grid;
  grid-template-columns: 8fr 1fr 1fr;
  grid-column-gap: 1rem;
  justify-content: center;
}

.page-header__actions {
  margin-top: $m-size;
}

.page-header__title {
  font-weight: 300;
  margin: 0;
  span {
    font-weight: bold;
  }
}

.page-header__subtitle {
  font-weight: 300;
  margin: 0;
  span {
    font-weight: bold;
  }
}
