.recipe {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__content {
    background-color: $off-white;
    max-height: 100%;
    width: 60%;
  }

  &__description {
    height: 130px;
    & span {
      color: rgb(109, 109, 109);
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      padding: 1em;
    }
    & span:nth-child(even) {
      color: black;
      font-weight: bold;
    }
    & h1 {
      padding: 0 1em;
    }
  }

  &__image {
    > img {
      height: auto;
      max-width: 100%;
    }
  }

  &__ingredients {
    background-color: #acacac;
    padding: 1em;
    & > ul {
      border-left: 0.4rem solid red;
      background-color: #f1f1f1;
      padding: 0.8em 1.3em;
    }
    & span {
      color: white;
      font-size: 25px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &__preparation {
    height: 500px;
    padding: 1.3rem;
    > span {
      font-size: 20px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      text-transform: uppercase;
    }
  }
}
