.recipe {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $s-size;

  &__content {
    background-color: $off-white;
  }

  &__description {
    align-items: left;
    display: flex;
    flex-direction: column;
    padding-bottom: $s-size;
    & span {
      color: rgb(109, 109, 109);
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      padding: 1em;
    }
    & span:nth-child(even) {
      color: black;
      font-weight: bold;
    }
    & h1 {
      padding: 0 1em;
    }
  }

  &__image {
    > img {
      height: auto;
      max-width: 100%;
    }
  }

  &__ingredients {
    background-color: #acacac;
    padding: $xs-size;
    & > ul {
      border-left: 0.4rem solid $red;
      background-color: #f1f1f1;
      padding: $xs-size $s-size;
    }
    & span {
      color: white;
      font-size: $font-size-small;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &__preparation {
    padding: $s-size;
    > span {
      font-size: $font-size-small;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      text-transform: uppercase;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: $bp-sm) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: $bp-md + 1) {
  .recipe {
    padding: $m-size;
    &__content {
      background-color: $off-white;
      width: 70%;
    }

    &__description {
      align-items: center;
      flex-direction: row;
      padding-bottom: 0;
    }

    &__image {
      > img {
        height: auto;
        max-width: 100%;
      }
    }

    &__ingredients {
      padding: $s-size;
      & span {
        font-size: $font-size-large;
      }
    }

    &__preparation {
      padding: $m-size;
      > span {
        font-size: $font-size-large;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: $bp-ld) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $bp-xl) {
}
