// Small devices (landscape phones, 576px and up)
$bp-sm: 36em;

// Medium devices (tablets, 768px and up)
$bp-md: 48em;

// Large devices (desktops, 992px and up)
$bp-ld: 62em;

// Extra large devices (large desktops, 1200px and up)
$bp-xl: 75em;
